<!DOCTYPE html>
<html>
<body>
	<head>
		<meta charset="utf-8" name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" type="text/css" href="styles.css">
		<script type="text/javascript" src="script.js"></script>
		<title>
			Welcome to makaan-Gurgaon Listings
		</title>
	</head>
		<h2>Gurgaon Listings </h2>
		<div class="logo">
			<img src="/images/makaan.png"> <br>
		</div><br>
		<!-- <div class="header"> -->
			<ul>
			  <li><a href="#home">Filter</a></li>
			  <li class="dropdown">
			    <a href="javascript:void(0)" class="dropbtn">Buy</a>
			    <div class="dropdown-content">
			      <a href="/">Buy</a>
			      <a href="/rent">Rent</a>
			    </div>
			  </li>
			  <li class="dropdown">
			    <a href="javascript:void(0)" class="dropbtn">Bedroom</a>
			    <div class="dropdown-content">
			      <a href="/1BHK">1 BHK</a>
			      <a href="/2BHK">2 BHK</a>
			      <a href="/3BHK">3 BHK</a>
			      <a href="/3+BHK">3+BHK</a>
			    </div>
			  </li>
			  <li class="dropdown">
			    <a href="javascript:void(0)" class="dropbtn">Sort</a>
			    <div class="dropdown-content">
			      <a href="#">Low to High</a>
			    </div>
			  </li>
			  <li class="dropdown">
			    <a href="javascript:void(0)" class="dropbtn">Reset</a>
			    <div class="dropdown-content">
			    </div>
			  </li>
			</ul>
	<% var i; %>
	<% for(i=0;i<20;i++) { %>
		<% if ((json.items[i].listing.listingCategory == "Resale") || (json.items[i].listing.listingCategory == "Primary")) { %>
		<% include data %>
		<% } else { %>
		<% include rent %>
		<% } } %>
		
		
</body>
</html>
