h2
{
	color: red;
}

.logo
{
	width: 150px;
	padding: 0 5px 0 0;
	text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   background-color: #333;
    border: 1px solid #e0e0e0
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: darkgrey;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
/*.header
{
	position: relative;
    width: 100%;
    height: 45px;
    padding: 0 5px;
    background-color: #fbfbfb;
    border: 1px solid #e0e0e0;
    border-top-width: 0;
    z-index: 2;
}

.header .a
{
	display: inline-block;
    vertical-align: middle;
    color: black;
    text-align: center;
    padding: 14px 16px;
    float: left;
    font-size: 20px;
    text-decoration: none;
}
.header a:hover , .dropdown:hover .buy, .buy:focus
{
	background-color: grey;
}

.dropdown .buy {
    cursor: pointer;
    font-size: 16px;    
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    margin: 0;
    float: left;
}

.dropdown-text {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-text a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-text a:hover {
    background-color: grey;
}
*/
.city
{
    margin: 0;
}
.name
{
    margin : 0;
}
.show {
    display: block;
}
.card .cardimg
{
    width: 300px;
    height: 300px;
    float: left;
    /*padding-left: 300px;
    padding-top: 100px;*/
    position: relative;
    /*cursor: zoom-in;*/

}
.cardimg1
{
    width: 300px;
    height: 210px;
    float: left;
    position: relative;
    -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.0);
  /*cursor: zoom-in;*/
/*border: 1px solid #333;*/
-webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s;

}
.cardimg1:hover
{
    width: 310px;
    cursor: zoom-in;
}
/*.listingcard:hover
{
    border: solid #333;
}*/
.buildingdesc
{
    float: left;
    /*margin-top: 100px;*/
    padding-left: 10px;
    font-size: 23px;
    cursor: pointer;
    position: relative;
    width: 500px;
    height: 300px;
}
.subheading
{
    padding-bottom: 50px;
    float: left;
}
.listing
{
    position: relative;
    padding: 8px 12px 8px 0;
    border-top: solid 1px #ececec;
    border-bottom: solid 1px #ececec;
}
.hcol
{
    display: inline-block;
    vertical-align: top;
    width: 22%;
    padding-right: 10px;
    color: #292929;
    font-size: 20px;
    font-weight: 500;
}
.buildingdesc .name:hover
{
    color:red;
}

.hcol .lbl
{
    color: #999;
    font-size: 15px;
}
.hcol.w1
{
    width:44%; 
}
.card 
{
    width: 900px;
    margin: 0px auto;
   /* float: left;*/
   position: absolute;
   margin: 50px 15%;
}
.card:hover
{
   box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
}
/*.listingcard
{
    position: relative;
    display: block;
    width: calc(100% - 130px);
    height: 247px;
    padding: 15px;
    margin: 20px 65px 40px;
    text-transform: none;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in
}
.infiniteScroll {
    padding: 20px;
    text-align: center;
    color: #aaa;
    font-size: 32px;
    line-height: 1;
}*/
.listingcard
{
    position: relative;
    /*border: 1px solid #333;
    margin: 2%;
    overflow: hidden;*/
}
/*.container
{
    padding:100px 100px;
}*/
.sellerrow
{
    padding-top: 210px;
    background-color: #fff;
    height: 70px;
}
.slrimg
{
    float: left;
    width: 18%;
    height: 55px;
    border: 1px solid #eaeaea;
    text-align: center;
    overflow: hidden;
    margin-right: 10px;
}
.container
{
    position: relative;
    height: 400px;
    width: 100%;
}
.sellerinfo
{
    padding-left: 50px;
    height: 65px;
    padding-top: 10px;
}
.sellername
{
    height: 50%;
    width: 65%;
    float: left;
}
.sellertype
{
    height: 50%;
    width: 80%;
    color: #fba511;
    font-size: 15px;
    float: left;
}
.desc
{
    height: 30%;
    /*padding-top: 200px;*/
}
.bathrooms
{
    padding-top: 5px;
    font-size: 16px;
    color: grey;
    width: 40%;
    margin:0;
}
.info
{
    height: 30%;
    text-overflow: ellipsis;
    color: darkgrey;
    white-space: nowrap; 
    /*width: 12em; */
    font-size: 15px;
    overflow: hidden;
}
.shortlist1
{
    /*size: 5%;*/
    height: 13%;
    width: 13%;
}
.link
{
    height: 10%;
    width: 10%;
    float: right;
}
.share
{
    height: 5%;
    width: 5%;
    padding-bottom: 11px;

}
/*.shortlist
{
    position: relative;
}*/
.rating
{
    float: left;
    width: 56px;
    height: 35px;
    color: grey;
}
